.list-upper-roman{
    list-style-type: upper-roman;
}

.list-lower-alpha{
    list-style-type: lower-alpha;
}

.list-disc{
    list-style-type: disc;
}

.list-circle{
     list-style-type: circle;
 }

.list-square{
    list-style-type: square;
}