html{
    font-size: 10px;
}

div{
    display: inline-block;
    border: solid 1px black;
    padding: 0;
    margin: 0;
}

.head{
    width: 25rem;
    height: 25rem;
    background: yellow;
    border-radius: 12.5rem;
    vertical-align: middle;
}

.face {
    border: none;
    position: relative;
    top: 5rem;
    left: 2rem;
}

.eyes{
    width: 5rem;
    height: 5rem;
    background: white;
    border-radius: 2.5rem;
    margin: 0 2.5rem;
}

.pupil{
    background: black;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 0.75rem;
}

.eyes:first-child .pupil{
    position: relative;
    top: 2.4rem;
    left: 1rem;
}

.eyes:last-child .pupil{
    position: relative;
    right: 1.8rem;
}

.nose{
    width: 4rem;
    height: 4rem;
    display: inline-block;
    background: red;
    border-radius: 2rem;
}

.mouth{
    width: 12rem;
    height: 4.5rem;
    display: inline-block;
    background: white;
    border-radius: 2.25rem;
    margin: 0.8rem;
}

.tooth{
    width: 2rem;
    height: 2.5rem;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    border-top: none;
    position: relative;
    left: 0.1rem;
}

.tooth:first-child{
    position: relative;
    left: 0.3rem;
}

.tooth:last-child{
    position: relative;
    right: 0.3rem;
}


.new-line{
    display: block;
    text-align: center;
    border: none;
}